.clear{ clear: both; }

.space50{ margin-top: 50px; }

.space30{ margin-top: 30px; }

.space25{ margin-top: 25px; }

.space20{ margin-top: 20px; }

.space15{ margin-top: 15px; }

.space10{ margin-top: 10px; }

.space5{ margin-top: 5px; }

.mnwdth92{ min-width: 92px; }

.homeLeft-wrap{ box-shadow: 0px 0px 5px 1px #e5e5e5; box-shadow: 0px 0px 5px 1px #e5e5e5; box-shadow: 0px 0px 5px 1px #e5e5e5; border-radius: 5px; padding: 10px; float: left; width: 100%; }

.trfLeft-wrap{ box-shadow: 0px 0px 5px 1px #e5e5e5; box-shadow: 0px 0px 5px 1px #e5e5e5; box-shadow: 0px 0px 5px 1px #e5e5e5; border-radius: 5px; padding: 10px; float: left; width: 100%; }

.pyToSrl-wrap{ padding: 10px 4%; }

.phlbtmstMstr-wrap{ padding: 10px 4%; }

.trfLeft-wrap .pddngRght5{ padding-right: 5px; }

.trfLeft-wrap .pddngLft5{ padding-left: 5px; }

.hmFrClmn-wrap{ background: #46a6e7; border-radius: 8px; padding: 10px; padding-top: 15px; min-height: 85px; padding-right: 5px; }

.hmFrClmn-wrap2{ background: #f6616a; }

.hmFrClmn-wrap3{ background: #2fdfaa; }

.hmFrClmn-wrap4{ background: #6646e7; }

.homeLeft-wrap .col-md-3{ padding: 5px; }

.hmFrClmn-rndBx{ padding: 10px; margin-right: 5px; float: left;
    background: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.hmFrClmn-rndBx img{ height: 25px; }
  
.hmFrClmn-wrap p{ color: #ffffff;
    font-size: 16px;
    line-height: 19px;
    margin-top: 7px; margin-bottom: 0px;
    font-weight: 600; }

.hmFrClmn-wrap p span{ font-size: 11px; font-weight: 400; }

.hmFrClmn-row-wrap{ margin:0 -5px }

.table-icon-heading{  font-size: 15px; font-weight: 600; color: #000000; }

.table-icon-heading img{ height: 25px; margin-right: 5px; }

.header-search input[type="search"]{ padding: 0 10px; height: 40px; border-radius: 3px; font-size: 11px; }

.header-search .hdrSrch-Bttn {
    position: absolute;
    right: 1px;
    top: 1px;
    border: 0px solid #ffffff;
    padding: 9px 10px 9px 10px;
    border-radius: 0 4px 4px 0;
    background: none;
}

input[type="search"], input[type="date"]{ border: 1px solid #e5e5e5;
    border-radius: 20px;
    height: 31px;
}

input[type=date]:invalid::-webkit-datetime-edit {
    color: #999;
}

#example23_filter{ display: none !important; }

#myTable_filter{ display: none !important; }

#myTable_wrapper .dataTables_length{ display: none !important; }

.table-search-wrap input{ float: right; width: 100%; }

.table-search-wrap label {
    float: right;
    width: 100%;
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 2px; font-weight: 600;
    color: #333333;
}

.empty {
    color: #999;
}

.search-wrap{ position: relative; }

.input-wrap{ width: 100%; max-width: 175px; margin-left: 5px; }

.input-wrap.pull-right{ float: right; }

.input-wrap button{ position: absolute; right: 8px; top: 4px; background: none; border: none; }

table.hometable-wrap{ border: none !important; border-bottom: 1px solid #e5e5e5 !important; }

.hometable-wrap .sorting_asc:after{ display: none !important; }

.hometable-wrap .sorting_asc{ background-image: none !important; }

.hometable-wrap .sorting:after{ display: none !important; }

.hometable-wrap thead .sorting{ background-image: none !important; }

.hometable-wrap thead th{ color: #28536d !important; border-top: 2px solid #e5e5e5 !important; border-bottom: 2px solid #e5e5e5 !important; }

.hometable-wrap thead{ border-top: 2px solid #e5e5e5; border-bottom: 2px solid #e5e5e5; }

.hometable-wrap tbody tr{ padding: 10px; }

.hometable-wrap tbody tr td{ font-size: 13px; }

.hometable-wrap tbody tr td.sorting_1{ font-weight: 600; color: #333333; }

.hometable-wrap tbody tr.odd{ background: none !important; }

.hometable-wrap tbody tr.even{ background: none !important; }

.hometable-wrap tbody tr .sorting_1{ background: none !important; }

.hometable-wrap tbody tr .sorting_1:hover{ background: none !important; }

.actnBttn-Wrap button{ padding: 0; border: none; background: none; }

.actnBttn-Wrap button img {
    height: 13px;
    vertical-align: top;
    margin: 3px;
}

.tblTd-price{ color: #41b35a; font-weight: 600; }

.fixed-table-container tbody td{ border-left: none; }

/* width */
::-webkit-scrollbar {
	width: 5px; height:5px; border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0px grey; 
	border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #e5e5e5; 
	border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #999999; 
  }

table tr th{ min-width: 60px; }

/* Home 2 screen Start */

img{ max-width: 100%; }

.hmCrrntMnthOrdr-line{ font-weight: 600; font-size: 14px; color: #000000; margin-bottom: 0; }

.hmCrrntMnthOrdr-line span{ font-weight: 600; color: #999999; font-size: 12px; float: right; line-height: 35px; } 

.crrntMnthDtls{ float: left; }

.crrntMnthDtls p{ color: #0374bd; font-weight: bold; font-size: 29px; margin-bottom: 0; line-height: 33px; }

.crrntMnthOrdrHk{ float: left; margin-left: 30px; padding-top: 3px; min-width: 175px; }

.crrntMnthOrdrHk .fa{ font-size: 27px; color: #3fe160; border-radius: 50%; padding: 0px; float: left;
  margin-bottom: 15px;
  margin-right: 9px;
}

.crrntMnthOrdrHk p{ font-weight: bold;
    color: #3fe160;
    margin-bottom: 0;
    line-height: 15px; 
}

.crrntMnthOrdrHk p span{ font-weight: 600; color: #999999; font-size: 12px; }

.hm2LftUprBx-wrap{ text-align: center; padding: 4px; margin-bottom: 15px; }

.hm2LftUprBx-wrap .hm2Icn-wrap{ background: #e8f9f9;
  border-radius: 10px;
  padding: 12px;
  margin: 10px 10px 7px 10px; 
}

.hm2LftUprBx-wrap .hm2Icn-wrap img{ height: 40px; }

.hm2LftUprBx-wrap .hm2IcnWrp-detail p{ font-weight: 600; color: #333333; font-size: 12px; line-height: 14px; }

.hm2LftUprBx-wrap .hm2IcnWrp-detail p.detail-numberic{ margin-bottom: 5px; }

.hm2LftUprBx-wrap .hm2IcnWrp-detail p.detail-numberic span{ font-weight: bold; color: #0374bd; font-size: 25px; }

.col-sm-3.pddngLft5{ padding-left: 5px; }
.col-sm-3.pddngRght5{ padding-right: 5px; }

.col-sm-4.pddngLft5{ padding-left: 5px; }
.col-sm-4.pddngRght5{ padding-right: 5px; }

.col-sm-8.pddngLft5{ padding-left: 5px; }
.col-sm-8.pddngRght5{ padding-right: 5px; }

.hm2LftUprBx-wrap2 .hm2Icn-wrap{ background: #ffebc0; }
.hm2LftUprBx-wrap2 .hm2IcnWrp-detail p.detail-numberic span{ color: #ff9f39; }

.hm2LftUprBx-wrap3 .hm2Icn-wrap{ background: #fff8ea; }
.hm2LftUprBx-wrap3 .hm2IcnWrp-detail p.detail-numberic span{ color: #fcc659; }

.hm2LftUprBx-wrap4 .hm2Icn-wrap{ background: #e1f9ff; }
.hm2LftUprBx-wrap4 .hm2IcnWrp-detail p.detail-numberic span{ color: #42b05a; }

.hm2LftUprBx-wrap5 .hm2Icn-wrap{ background: #fcd7fd; }
.hm2LftUprBx-wrap5 .hm2IcnWrp-detail p.detail-numberic span{ color: #d828df; }

.hm2LftUprBx-wrap6 .hm2Icn-wrap{ background: #e0fcf5; }
.hm2LftUprBx-wrap6 .hm2IcnWrp-detail p.detail-numberic span{ color: #09ad81; }

.hm2LftUprBx-wrap7 .hm2Icn-wrap{ background: #fdf9b9; }
.hm2LftUprBx-wrap7 .hm2IcnWrp-detail p.detail-numberic span{ color: #9e9509; }

.hm2LftUprBx-wrap8 .hm2Icn-wrap{ background: #efe0fd; }
.hm2LftUprBx-wrap8 .hm2IcnWrp-detail p.detail-numberic span{ color: #6600cc; }



.hm2IcnWrp-detail p:first-child { min-height: 30px; display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; 
}

.crrntWkDtls p{ color: #ef4750; }

.nOfAccssns-slct { padding: 4px 10px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    font-weight: 600;
    font-size: 13px;
    float: right;
}

table thead th:after {
  content: "\f0dc";
  float: right;
  font-family: fontawesome;
  color: rgba(50, 50, 50, .5);
}

.hm2KtTblBttm th{ font-size: 12px; font-weight: bold; }

.hm2KtTblBttm table, .hm2KtTblBttm th, .hm2KtTblBttm td{ border: 1px solid #e5e5e5 !important; }

.hm2KtTblBttm thead th .th-inner{ padding: 6px !important; }

.hm2KtTblBttm th{ min-width: 40px; }

.hm2KtTblBttm .table>tbody>tr>td{ padding: 10px 5px !important; }

.hm2KtTblBttm .table>tbody>tr:nth-of-type(odd){ background: none !important; }

.hm2KtTblBttm .table thead th:after{ display: none; }

.hm2KtTblBttm .table tbody tr td {
  font-size: 12px;
  font-weight: 600;
  color: #666666;
}

.txtAlgnCntr{ text-align: center; }

.hm2tbl-nwPtnt{ background: #e6e6ff; color: #1818c2; border-radius: 10px; padding: 2px 5px; }
.hm2tbl-rcvrd{ background: #e0fccd; color: #5dc01b; border-radius: 10px; padding: 2px 5px; }
.hm2tbl-inTrtmnt{ background: #fdf9b9; color: #b6ac14; border-radius: 10px; padding: 2px 4px; }

.hm2Grdnt-wrap { background: #5817f5; background: -moz-linear-gradient(-45deg,  #5817f5 0%, #b347f4 100%); background: -webkit-linear-gradient(-45deg,  #5817f5 0%,#b347f4 100%); background: linear-gradient(135deg,  #5817f5 0%,#b347f4 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5817f5', endColorstr='#b347f4',GradientType=1 ); }

.hm2Grdnt-wrap p{ font-size: 30px; font-weight: 900; color: #ffffff; text-align: center; margin-bottom: 0; }

.hm2Grdnt-wrap p.avrgCndctdTst-line{
  font-size: 13px;
  font-weight: 600;
  margin-top: -3px;
  margin-bottom: 7px;
}

/* Home Page Bottom Crausal Start */   
.hm2BttmCrsr h3{ color: black; height: auto !important; }
.hm2BttmCrsr p{ color: black; }
.hm2BttmCrsr .carousel-caption{ position:relative; }
.hm2BttmCrsr .carousel-control{
  width: 20px;
  height: 34px;
  bottom: auto;
  left: auto;
  color: #999999; top: -35px; font-size: 23px;
  opacity: 1;
  text-shadow: none;
  background-image: none !important;
}
.hm2BttmCrsr .left.carousel-control{ right: 18px; }
.hm2BttmCrsr .carousel-caption{ right: auto; left: auto; }
.hm2BttmCrsr .tstScrlLft-line{ font-size: 12px; font-weight: bold; margin-bottom: 2px; }
.hm2BttmCrsr .tstScrlLft-line span{ color: #999999; font-size: 11px; font-weight: 600; }
.hm2BttmCrsr .tstScrlRght-line{ font-weight: bold; font-size: 13px; text-align: right; margin-top: 18px; }
.hm2Rvw-wrap{ background: #ff5fca; text-align: center; }
.hm2Rvw-wrap p{ color: #ffffff; font-weight: 600; margin-bottom: 0; font-size: 14px; }
.hm2Rvw-wrap p:first-child{ font-size: 15px; font-weight: bold; }
.hm2Rvw-wrap p .fa-star{ font-size: 16px; opacity: 0.5; }
.hm2Rvw-wrap p .fa-star.slctdstr{ opacity: 1; }
.hm2Rvw-wrap img{ height: 37px; margin-top: 5px; margin-bottom: 5px; }
/* Home Page Bottom Crausal End */   

/* Home 2 screen End */

/* AM CSS start */
.brdcrumb1{ color: #2d2d2d; font-size: 14px; font-weight: 600; }
.brdcrumb2{ color: #ababab; }
.brdcrumb3{ color: #676767; font-size: 12px; }
.form-horizontal .form-group{ margin-left: -7.5px; margin-right: -7.5px; margin-bottom: 25px; }
.inpt_labl_search{ color: #000; font-size: 13px; padding: 5px 7px; font-weight: 600; margin-bottom: 0; }
.input-wrap-search{ width: 100%; }
.trfLeftWrpMdl-body .input-wrap-search button{ position: absolute; right: 8px; top: 4px; background: none; border: none; }
.btn_sub{ width: 150px; background: #0865a8; color: #fff; opacity: 0.8; border: 2px solid #ffffff; font-size: 13px; border-radius: 20px; margin: 0 5px; padding: 6px 20px; }
.btn_rst{ background: #ed515e; color: #fff; opacity: 0.8; border:  2px solid #ffffff; font-size: 13px; border-radius: 20px; margin: 0 5px; padding: 6px 20px; }
.pad_50{ padding: 50px; }
.inpt_labl{ color: #333333; font-size: 13px; text-align: left; float: left; font-weight: 600; }
.labl_red{ color: #fd0000; }
.trfLeft-wrap input[type="text"], .trfLeft-wrap input[type="email"]{ border: 1px solid #e5e5e5; border-radius: 20px; height: 31px; }
.trfLeft-wrap .textbox{ border: 1px solid #e5e5e5; border-radius: 20px; }
.align_cntr{ text-align: center; }
.back_grad{ background: rgb(80, 152, 202); background: linear-gradient( 90deg, rgba(80, 152, 202, 1) 0%, rgba(241, 81, 93, 1) 50%, rgba(101, 193, 120, 1) 100%); }
.trfLeft-wrap .table>thead>tr>th{ vertical-align: middle; border-bottom: 1px solid #e5ebec; }
.trfLeft-wrap .table>thead>tr>th{ color: #fff; font-size: 13px; font-weight: 400;  line-height: 24px; vertical-align: top; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.trfLeft-wrap .table>tbody>tr>td, .trfLeft-wrap .table>tbody>tr>th{ font-size: 13px; color: #2e2e2e; }
/* AM CSS edn */




/* New TRF CSS start */
.spnDtTm{ font-size: 11px;
  font-weight: 500;
  position: absolute; 
}

.form-control.slctrKt{ height: 31px; padding: 4px 12px; border-radius: 20px; }

.trf-refrringDoctor{ font-weight: bold; float: left; font-weight: bold; color: #0b64a3; font-size: 14px !important; }

.trfLeft-wrap .col-md-2.pddng5{ padding: 5px; }

.trfLeft-wrap .fltIntl{ float: initial; }

.trfLeft-wrap .events-content{ height: auto !important; }

.algnLft{ text-align: left; }

.trfLeft-wrap table thead th:after{ display: none; }

.trfLeft-wrap .table{ margin-bottom: 0; }

.trfLeft-wrap .table>tbody>tr>td, .trfLeft-wrap .table>thead>tr>th{ padding: 8px 15px !important; text-align: left; }

.trfLeftWrpMdl-body .modal-backdrop{ display: none; }

.trfLeft-wrap .modal-content{ -webkit-box-shadow: 0 5px 15px rgb(0 0 0 / 50%); box-shadow: 0 5px 15px rgb(0 0 0 / 50%); border: 1px solid #e5e5e5; }

.trfLeftWrpMdl-body .modal-body .close{ position: absolute; cursor: pointer; z-index: 1;
  top: 10px;
  right: 10px;
  font-size: 25px;
  background: #0865a7 !important;
  opacity: 1;
  text-shadow: none;
  color: #ffffff;
  font-weight: 400;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 7px; 
}

.trfLeftWrpMdl-body .modal-dialog{ margin: 0 auto; }

.trfLeftWrpMdl-body .modal-content{ float: left; width: 100%; }

.trfLeftWrpMdl-body .modal-body{ float: left; width: 100%; max-height: 440px; overflow: scroll; }

.uppercase{ text-transform: uppercase; }

.mdlTbl-button{ padding: 0px 10px; }

.mdlTbl-button .fa-plus{ font-size: 11px; }

.trfLeftWrpMdl-body .algnCntr{ text-align: center !important; }

.trfLeftWrpMdl-body .algnRght{ text-align: right !important; }

.mnHght200{ min-height: 200px; }
/* New TRF CSS end */


/* Pay to SRL CSS start */
.pymntGtwyOptn-wrap{ box-shadow: 0px 0px 5px 1px #e5e5e5; -webkit-box-shadow: 0px 0px 5px 1px #e5e5e5; -moz-box-shadow: 0px 0px 5px 1px #e5e5e5; -ms-box-shadow: 0px 0px 5px 1px #e5e5e5; border: 2px solid #e6e6e6; padding:20px 0; border-radius: 10px; max-width: 300px; margin: auto; }

.pymntGtwyOptn-line{
  color: #333333;
  font-size: 13px;
  text-align: center;
  font-weight: 600;
}

.pymntGtwyOptn-wrap img{ height: 45px; }

.pyToSrl-ntBx-wrap{ max-width: 710px; margin: auto; background: #e5f3fc; border: 1px solid #bcdcee; padding: 20px; border-radius: 10px; margin-bottom: 30px; }

.pyToSrl-ntBx-wrap .pymntGtwyOptn-line{ text-align: left; font-size: 14px; }

.pyToSrl-ntBx-wrap p{ font-size: 11px; font-weight: 600; }

.phlMst-note{ color: #ef575f; font-size: 12px; font-weight: 600; }

.trnngPrvdd-radioWrap p{ color: #333333; margin-bottom: 0; font-weight: 600;  }

/* Pay to SRL CSS start */

.trfLeft-wrap input[type="file"]{ border: 1px solid #e5e5e5; border-radius: 20px; height: 31px; padding: 3px 12px; }

.upldThmbnl-imgWrap img{ height: 33px; margin-top: -2px; }

.algnCntr{ text-align: center; }

.clrBth{ clear: both; }

/* Pay to CC Inventory Login start */
.ccInvnty-menu{ background: #006cb7; }

.ccInvnty-menu ul{ list-style-type: none; }

.ccInvnty-menu ul li{ float: left; }

.ccInvnty-menu ul li a{ padding: 9px 10px; line-height: 37px; color: #ffffff; }

.ccInvnty-menu ul li a.active{ background: #f1515d; }

.ccInvnty-menu ul li a:hover{ background: #f1515d; }

.fnt-wght600{ font-weight: 600; }

.ccInvntry-accntSmmry-line{ font-size: 13px !important;
  color: #000000;
  text-align: center;
}

.ccInvntryLgn-wrap{ max-width: 525px; }

.ccInvntryLgn-wrap input{ border: 1px solid #d2d2d2; border-radius: 20px; }

.ccInvntryLgn-wrap button{ 
  margin-left: calc(50% - 75px);
  margin-top: 10px;
  margin-bottom: 10px; 
}

.mn-hght250{ min-height: 250px; }

.ccBttn-exprtTExcl{ font-size: 12px;
  background: #0865a8;
  color: #fff;
  opacity: 0.8;
  border-radius: 20px;
  padding: 6px 15px; 
}

.ccBttn-exprtTExcl:hover{ color: #ffffff; opacity: 1; }

.crrntStck-slctLftWrap{ float: left; width: 200px; }

.crrntStck-slctLftWrap p{ float: left; margin-top: 5px; }

.crrntStck-slctLftWrap select{ float: left;
  width: 80px;
  margin: 0 10px; 
}

.crrntStck-slctRghtWrap{ float: right; width: 300px; }

.ccStckTrnsfr-wrap{ width: 100%; max-width: 100%; }

.ccStckTrnsfr-wrap .stcktr-headline{ font-size: 14px; margin-bottom: 20px;
  font-weight: 400; }

.ccStckTrnsfr-wrap .inpt_labl{ font-weight: 500; color: #333333; font-size: 12px; }

.stckTrnsfr-tble-wrap table thead th:first-child::after{ display: none; }

.stckTrnsfr-tble-wrap input[type="text"]{ padding: 0 10px; background: #f6fbfe; border: 1px solid #bbdcef; }

.stckTrnsfrBttn-wrap{ width: 265px; margin: auto; }

.btn{ padding: 3px 12px; }

.mrgnTp5{ margin-top: 5px !important; }

.cnsmptnSrch-mdlDlg{ width: 95%; }

.cnsmptnSrch-mdlDlg .modal-content{ float: left; width: 100%; }

.cnsmptnSrch-mdlDlg .cnsmptnSrch-clsWrap{ float: left;
  width: 100%;
  padding: 5px 10px; 
}

.cnsmptnSrch-mdlDlg .cnsmptnSrch-clsWrap p{ float: left; color: #ffffff; margin-bottom: 0; font-weight: 400; }

.cnsmptnSrch-mdlDlg .cnsmptnSrch-clsWrap button.close{ font-weight: 400;
  color: #ffffff;
  text-shadow: none;
}

.cnsmptnSrch-mdlDlg p.cnsmptnMdlLn-head{ font-weight: 500; }

.cnsmptnSrch-mdlDlg p.cnsmptnMdlLn-head span{ text-transform: uppercase; font-weight: 400; }

.mtrlRqstnAddNt{ color: red; font-size: 11px; margin-bottom: 20px; }

.mtrlRqstnAddNt span{ font-weight: 600; }

.wdth150{ width: 150px !important; }

.mnWdth300{ width: 300px; }

.fltLft{ float: left; }

.wdth100p{ width: 100%; }

.phrmcySmmryHm-wrap label{ font-size: 12px; font-weight: 500; color: #333333; }




@media screen and (max-width: 1200px){
  .mini-sidebar .top-left-part{ width: auto; }  
}

@media screen and (max-width: 1024px){
  .hm2Grdnt-wrap p{ line-height: 25px; }
  .hm2Grdnt-wrap p.avrgCndctdTst-line{ line-height: 16px; margin-bottom: 0; }
}


@media screen and (max-width: 920px){
  .spnDtTm{ position: relative; }
}

@media screen and (max-width: 768px){
  .homeLeft-wrap{ margin-bottom: 15px; }
  .hm2Grdnt-wrap p{ margin-bottom: 25px; margin-top: 10px; }
  .hm2Grdnt-wrap p.avrgCndctdTst-line{ margin-bottom: 15px; }
}

@media screen and (max-width: 767px){
  .trfLeftWrpMdl-body .table-search-wrap{ padding: 5px 7px; margin-bottom: 20px; }
}

@media screen and (max-width: 736px){
  .table-search-wrap{ margin-bottom: 10px; float: left; width: 100%; }
  .table-search-wrap .pull-right{ float: left; }
  .table-responsive{ border: none; }
  .dataTables_wrapper .dataTables_paginate{ border: none !important; }
  .dataTables_wrapper .dataTables_paginate .paginate_button{ border: 1px solid #e5e5e5; margin-bottom: 10px; }
  .dataTables_wrapper .dataTables_paginate .paginate_button.previous{ border: 1px solid #e5e5e5 !important; }
}

@media screen and (max-width: 512px){
  .input-wrap{ max-width: 160px; }
  .col-sm-3.pddngRght5{ padding-right: 15px; }
  .col-sm-3.pddngLft5{ padding-left: 15px; }
  .col-sm-4.pddngRght5{ padding-right: 15px; }
  .col-sm-4.pddngLft5{ padding-left: 15px; }
  .col-sm-8.pddngLft5{ padding-left: 15px; }
  .col-sm-8.pddngRght5{ padding-right: 15px; }
}

@media screen and (max-width: 440px){
  .navbar-header .logo img{ height: 40px; }
  .navbar-header{ padding: 5px 10px 0px 10px; }
  .navbar-top-links.pull-right{ margin-top: 0; }
  .navbar-top-links.pull-right img{ margin-top: 2px; height: 30px; }
}