@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
html,
body {
    font-family: 'Poppins', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
}

textarea,
input:matches( [type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="url"]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* Spaces Start */

.space5 {
    height: 5px;
    clear: both;
}

.space10 {
    height: 10px;
    clear: both;
}

.space15 {
    height: 15px;
    clear: both;
}

.space20 {
    height: 20px;
    clear: both;
}

.space30 {
    height: 30px;
    clear: both;
}

.space40 {
    height: 40px;
    clear: both;
}

.space50 {
    height: 50px;
    clear: both;
}

.space55 {
    height: 55px;
    clear: both;
}

.space70 {
    height: 70px;
    clear: both;
}

.space100 {
    height: 100px;
    clear: both;
}

.space200 {
    height: 200px;
    clear: both;
}


/* Spaces End */


/* Padings and Margins Start */

.mx_wdth {
    padding: 0;
    max-width: 1900px;
}

.wdth_100 {
    width: 100%;
}

.mar_0 {
    margin: 0;
}

.mt_70 {
    margin-top: 70px;
}


/* Padings and Margins End */


/* Alignments start */

.align_cntr {
    text-align: center;
}

.align_lft {
    text-align: left;
}

.align_rght {
    text-align: right;
}

.align_justify {
    text-align: justify;
}


/* Alignments End */